.blok01 {
  background: no-repeat url("/images/up-background.png");
  background-size: contain;
  width: 1124px;
  margin-top: -39px;
  height: 728px;
  opacity: 0.9;
}
.blok01__menu-logo{
  float: left; 
  background-color: transparent 
}




.head-fonts {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.body-styles { 
  text-decoration: none;
}
.body-fonts { 
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.body-heading-fonts { 
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 62.4px;
  color:  rgb(163, 204, 64);
}
.other-fonts { 
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.icon-button {
 background-image: url("./images/telephon.png"); 
}


.footer-fonts {
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}


.logo{
  width: 180px;
  height: 42px;
 }
 /*стили таблицы*/
 .movie-table {
  width: 849px;

  }
  .table-heading-fonts {
    color: rgb(255, 255, 255);
    font-family: "IBM-Plex-Sens";
    src: url("./fonts/IBMPlexSans-Medium.ttf");
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 46px;
    text-align: left; 
  }
  .table-fonts {
    color: rgb(255, 255, 255);
    font-family: "IBM-Plex-Sens";
    src: url("./fonts/IBMPlexSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 45.5px;
    text-align: left; 
  }
  .table-footer-fonts {
    color: rgb(0, 0, 0);
    font-family: "IBM-Plex-Sens";
    src: url("./fonts/IBMPlexSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    line-height: 14.3px;
    } 
/*конец стили таблицы*/

.textarea {
  resize: none;
}
.text-gift {
  text-align: right; /*выравнивание текста по правому краю*/
 }
 .get-gift {
  background-color: rgb(163, 204, 64);
 }
 .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
} 