.head-fonts{
    color: rgb(255, 255, 255);
    font-family: "IBM-Plex-Sens";
    src: url("./fonts/IBMPlexSans-Light.ttf");
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
}
.back-ground-body{
    background-image: url("/images/up-background.png");
    background-color: gray;
}