
.head-fonts {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}
.body-fonts { 
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.other-fonts { 
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.icon-button {
 background-image: url(./images/telephon.png); 
}
.table-fonts {
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
}
.footer-fonts {
  color: rgb(255, 255, 255);
  font-family: "IBM-Plex-Sens";
  src: url("./fonts/IBMPlexSans-Light.ttf");
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: left;
}

.back-ground-body {
  background: no-repeat url("/images/up-background.png");
  background-size: contain;
  position: absolute;
  width: 1171px;
  height: 728px;
  opacity: 0.9;
}

.logo{
  width: 180px;
  height: 42px;
 }

 .table {
  width: 800px; /* Ширина таблицы */
  border-collapse: collapse;
  border: white;
 
 }
 .text-gift {
  text-align: right; /*выравнивание текста по правому краю*/
 }
 .get-gift {
  background-color: rgb(163, 204, 64);
 }
 