.body-styles { 
  text-decoration: none;
}
/* блок wellcome*/
.wellcome {
  background: no-repeat url("/images/up-background.png");
  background-size: contain;
  width: 1124px;
  margin-top: -39px;
  height: 728px;
}
.wellcome__menu-logo {
  float: left; 
  background-color: transparent 
}
.wellcome__menu-links1 {
  color: rgb(255, 255, 255);
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
}
.wellcome__menu-links2 {
  color: rgb(255, 255, 255);
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 12px;
  text-align: center;
}
.wellcome__ticket {
  color: rgb(255, 255, 255);
  font-family: 'IBM-Plex-Sens-Thin';
  font-size: 68px;
  margin-top: 144px;
  text-align: center;
}
.wellcome__giftForAll {
  font-family: 'IBM-Plex-Sens-Regular';
  font-size: 41px;
  margin-top: 33px;
  text-align: center;
  color: rgb(255, 255, 255);
}
/* конец блок wellcome*/

/* блок whywe */
.whywe {
  border: solid 1pt; 
  color: #000; 
  width: 1124px; 
  margin-top: -200px;
}
.whywe__wellcome {
margin-bottom: 68px;
}
.whywe__wellcome-whywe {
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 48px;
  line-height: 62.4px;
  color:  rgb(163, 204, 64); 
  text-align: center; 
  width: 564px; 
}
.whywe__wellcome-wellcome{ 
  font-family: 'IBM-Plex-Sens-Medium';
  background-color: white;
  border-radius: 7px;
  border: solid 1pt rgb(255, 255, 255); 
  color: #000;
}
.body-whyme-heads { 
  font-family: 'IBM-Plex-Sens-SemiBold';
  font-size: 20px;
}
.body-whyme-text { 
  font-family: 'IBM-Plex-Sens-Regular';
  font-size: 11px;
  line-height: 1.3;
  text-align: center;
}
/* конец блок whywe */

.body-fonts { 
  font-family: 'IBM-Plex-Sens-Medium';
    font-size: 16px;
}
.body-heading-fonts { 
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 48px;
  line-height: 62.4px;
  color:  rgb(163, 204, 64);
}
.other-fonts { 
  color: rgb(255, 255, 255);
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 16px;
}
.icon-button {
 background-image: url("./images/telephon.png"); 
}
.footer-fonts {
  color: rgb(255, 255, 255);
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 12px;
  text-align: left;
}
.logo{
  width: 180px;
  height: 42px;
 }
 /*стили таблицы*/
 .movietable__heading {
  font-family: 'IBM-Plex-Sens-Medium';
  font-size: 48px;
  line-height: 62.4px;
  color:  rgb(163, 204, 64);
  }
  .movietable__table {
  width: 849px;
  }
  .table-heading-fonts {
    color: rgb(255, 255, 255);
    font-family: 'IBM-Plex-Sens-SemiBold';
    font-size: 20px;
    line-height: 2.3;
    text-align: left; 
  }
  .table-fonts {
    color: rgb(255, 255, 255);
    font-family:'IBM-Plex-Sens-Regular';
    font-size: 14px;
    line-height: 3.27;
    text-align: left; 
  }
  .table-footer-fonts {
    color: rgb(0, 0, 0);
    font-family: 'IBM-Plex-Sens-Regular';
    font-size: 11px;
    text-align: center;
    line-height: 14.3px;
    } 
/*конец стили таблицы*/

.textarea {
  resize: none;
}

.giftimage {
  width: 275px;
  height: 275px;
  border-radius: 50%;
  margin-left: 136px;
  margin-top: -40px;
}
.text-gift {
  text-align: right; /*выравнивание текста по правому краю*/
 }
 .get-gift {
  background-color: rgb(163, 204, 64);
 }
 .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
} 