@media screen and (max-width: 1900px) and (min-width: 801px) {
    html {
        font-size: 20px;
    }
}
 @media screen and (max-width: 800px) {
    html {
        font-size: 25px;
    }
}
@media screen and (max-width: 550px) {
    html {
        font-size: 1.67vw;
    }
} 